@charset "utf-8";

.container {
  width: min(100% - 32px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.gap-20 {
  gap: 20px;
}

:root {
  --clr-page-bg: #fefefe;
  --clr-form-bg:#f9f8f7;
  --clr-accent: #fcd483;
  --clr-text: #fbb201;
  --app-border-rad: 12px;
  --app-box-color: #fff;
}
